* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}

.container {
  /*by default the mobile-friendly layout is a one column, stacked grid.*/
  display: grid; /*the container is the parent of every item*/
  min-height: 100vh;
  max-width: 70rem; /*rem units used for greater control*/
  grid-template-columns: 1fr;
  align-content: start;
  border-radius: 0.3rem; /* Add a background color and some padding around the form */
  background-color: #e6e6e6;
  padding: 0.5rem;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "sidebar"
    "footer";
}

.item {
  /*every <div> item is now a grid item*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

header img {
  height: 2.5rem;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.75rem;
  padding: 0.75rem 0.75rem;
  grid-area: header; /*assigned to the header area*/
}

header h1 {
  color: rgb(9, 77, 116);
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

/*  ORIGINAL BASIC LAYOUT */
nav {
  grid-area: nav; /*assigned to the nav area*/
  padding: 0.5rem 0.5rem;
}

/*  LAYOUT FROM MY WEBSITE  */
nav ul {
  /*displays the ul as a flex container*/
  display: flex;
  text-align: center;
  list-style-type: none;
}

nav li {
  padding-left: 1rem;
}

a:link {
  color: rgb(9, 77, 116);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: rgb(9, 77, 116);
  font-weight: bold;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

main {
  min-height: 0;
  padding: 0 0.75rem;
  color: #1e1e1e;
  grid-area: main; /*assigned to the main area*/
}

aside {
  background-color: rgb(9, 77, 116);
  padding: 0.75rem 0.75rem;
  border-radius: 0.3rem; /* Rounded borders */
  height: fit-content;
  color: #e6e6e6;
  grid-area: sidebar; /*assigned to the sidebar area*/
}

footer {
  background-color: rgb(9, 77, 116);
  color: #e6e6e6;
  border-radius: 0.3rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  grid-area: footer; /*assigned to the footer area*/
}

/*RESPONSIVE MOBILE-FRIENDLY LAYOUT*/
@media (min-width: 450px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main sidebar"
      "footer footer footer";
  }
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem; /*rem = root em*/
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 750px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header nav"
      "main main main sidebar"
      "footer footer footer footer";
  }

  h1 {
    font-size: 2.5rem; /*the header elements are given mobile-first rem font sizes*/
  }

  h2 {
    font-size: 2rem; /*rem = root em*/
  }

  h3 {
    font-size: 1.5rem;
  }
}



